
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body{
    font-family: 'Kalam', cursive;
    text-align: center;
    margin:auto;
   
}
.main-heading{
   border-bottom-right-radius: 3rem;
    background-color:rgb(249, 181, 45);
    padding-top:0.5rem ;
    font-size:large;
    
}
textarea{
    text-align:center;
    font-size:x-large;
    width:30%;
    height: 5vh;
    display:block;
    padding: 2rem;
margin:auto;

}
#output{
    border: 2px solid black;
    width:30%;
    height:5vh;
    padding:2rem;
    margin:auto;
    margin-bottom:7.5rem;
    font-size:x-large
}
#btn-translate{
    font-family: 'Fasthand', cursive;
   background-color:rgb(249, 181, 45);
   font-size: medium;
   padding:0.5rem;
   width:10%;
   margin-top:2rem;
   border-color: rgb(249, 181, 45);
   margin-bottom: 1rem;
   
}
.foot{
    background-color:  rgb(249, 181, 45);
    padding-bottom:4rem ;
    margin-top:2rem;
    margin-bottom:none;
    text-align:center;
    border-top-left-radius: 3rem;
}
header{
    margin-bottom:2rem;
}
.about{
    margin:auto;
    max-width: 500px;
}